.whatsapp-link {
  /* bottom: -80px; */
  position: fixed;
  right: 40px;
  z-index: 50;
  transition: bottom 0.3s ease-in-out;
}

/* .whatsapp-link.visible {
  bottom: 40px;
} */
.whatsapp-link {
  bottom: 40px;
}

.whatsapp-icon {
  width: 55px;
  height: 55px;
  transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.2);
}
