@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  color: #fff;
  text-shadow: 5px 0 0 white, -5px 0 0 white, 0 5px 0 white, 0 -5px 0 white;
  text-shadow: 5px 0 0 black, -5px 0 0 black, 0 5px 0 black, 0 -5px 0 black;
}
