.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 10px;
  color: #0ea5e9 !important;
  fill: black !important;
  stroke: black !important;
}

.swiper-pagination-bullet-active {
  background-color: #0ea5e9 !important;
}
.swiper-pagination-bullet {
  background-color: #0ea5e9 !important;
}
