@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: hsl(219, 26%, 22%);
    --bg-soft: hsl(220, 21%, 28%);
    --bg-dark: hsl(219, 28%, 18%);
    --text-main: hsl(0, 0%, 100%);
    --text-soft: hsl(0, 0%, 87%);
    --text-dark: hsl(219, 26%, 22%);
  }

  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}

@font-face {
  font-family: "Regular";
  src: local("Ubuntu-Regular"),
    url("./assets/font/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Ubuntu-Medium"),
    url("./assets/font/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Ubuntu-Bold"),
    url("./assets/font/Ubuntu-Bold.ttf") format("truetype");
}

.theme-black {
  --bg-main: hsl(219, 26%, 22%);
  --bg-soft: hsl(220, 21%, 28%);
  --bg-dark: hsl(219, 28%, 18%);
  --text-main: hsl(0, 0%, 100%);
  --text-soft: hsl(0, 0%, 87%);
  --text-dark: hsl(219, 26%, 22%);
}

.theme-white {
  --bg-main: hsl(0, 0%, 100%);
  --bg-soft: hsl(0, 0%, 87%);
  --bg-dark: hsl(219, 26%, 22%);
  --text-main: hsl(219, 26%, 22%);
  --text-soft: hsl(220, 21%, 28%);
  --text-dark: hsl(219, 28%, 18%);
}

.title {
  letter-spacing: 2px;
  color: hsl(0, 0%, 0%);
  text-shadow: 2px 2px 0 hsl(0, 0%, 100%), -2px -2px 0 hsl(0, 0%, 100%),
    -2px 2px 0 hsl(0, 0%, 100%), 2px -2px 0 hsl(0, 0%, 100%),
    0 0 2px hsl(0, 0%, 0%);
}

.whatsapp-link {
  position: fixed;
  bottom: -80px;
  right: 40px;
  z-index: 50;
  transition: bottom 0.3s ease-in-out;
}

.whatsapp-link.visible {
  bottom: 40px;
}

.whatsapp-icon {
  width: 55px;
  height: 55px;
  transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.2);
}
